<section class="w-full h-screen bg-azul-bg">
  <h1 class=" text-white font-lobster text-center text-6xl pt-16 mb-[128px] ">Turisticapp</h1>
  <div class="flex">
    <div class="w-full px-5 py-12 m-5 rounded-lg bg-gris-contenedor/20">
      <form class="space-y-5">
        <div>
          <label for="password" class="block mb-2 text-lg text-white font-farro">Ingrese su contraseña</label>
          <input type="password" id="password" [formControl]="password" required
            class="block w-full p-2 text-center text-black border-gray-300 rounded-lg bg-white/50">
        </div>

        <div class="flex flex-row-reverse ">
          <button (click)="redirectToData()"
            class="px-8 py-3 tracking-widest text-white uppercase rounded-lg bg-azul-button font-farro ">INGRESAR</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="w-[90%] mx-auto px-5 py-2 bg-red-600 rounded-md">

    <div *ngIf="password.errors?.['required']" class="text-lg text-center text-white font-farro">
      La contraseña es requerida.
    </div>
    <div *ngIf="password.errors?.['minlength']" class="text-lg text-center text-white font-farro">
      La contraseña tiene que ser igual a {{password.errors?.['minlength'].requiredLength}} caracteres.
    </div>
    
  </div>
</section>