<div class="w-full min-h-screen bg-azul-bg px-9">
    <app-header-dashboard></app-header-dashboard>
    
    <section class="flex flex-col w-full py-10 gap-y-10">
        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Procedencia</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'bar'" [chartData]="procedencia"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Razones de eleccion turistica</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'pie'" [chartData]="razones"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Tipo de hospedaje</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'doughnut'" [chartData]="tipoHospedaje"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Solicitaron info en:</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'polarArea'" [chartData]="solicitaronInfo"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Tipo de info solicitada: </h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'bar'" [chartData]="tipoInfoSolicitada"></app-chart>
            </div>
        </div>
    </section>
</div>
