<div class="w-full min-h-screen bg-azul-bg px-9">
    <app-header-dashboard></app-header-dashboard>
    
    <section class="flex flex-col w-full py-10 gap-y-10">
        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Procedencia</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'bar'" [chartData]="procedencia"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Razones de eleccion turistica</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'pie'" [chartData]="razones"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Tipo de hospedaje</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'doughnut'" [chartData]="tipoHospedaje"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Solicitaron info en:</h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'polarArea'" [chartData]="solicitaronInfo"></app-chart>
            </div>
        </div>

        <div class="flex flex-col w-full px-3 py-4 rounded-md gap-y-3 bg-gris-contenedor/20">
            <h3 class="text-xl text-center text-white font-farro">Tipo de info solicitada: </h3>
            <div class="w-full bg-white rounded">
                <app-chart [chartType]="'bar'" [chartData]="tipoInfoSolicitada"></app-chart>
            </div>
        </div>

        <div class="flex w-full">
            <button class="p-3 rounded-md bg-azul-button" (click)="redirectTo()">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
                    <path d="M0.693375 7.3075C0.377361 7.6239 0.19986 8.05281 0.19986 8.5C0.19986 8.94719 0.377361 9.37609 0.693375 9.6925L7.05638 16.0577C7.21312 16.2145 7.39921 16.3388 7.60401 16.4237C7.80882 16.5085 8.02832 16.5522 8.25 16.5522C8.47168 16.5522 8.69118 16.5085 8.89599 16.4237C9.10079 16.3388 9.28688 16.2145 9.44363 16.0577C9.60037 15.901 9.72471 15.7149 9.80955 15.5101C9.89438 15.3053 9.93804 15.0858 9.93804 14.8641C9.93804 14.6424 9.89438 14.4229 9.80955 14.2181C9.72471 14.0133 9.60037 13.8272 9.44363 13.6705L5.96063 10.1875H18.9375C19.3851 10.1875 19.8143 10.0097 20.1307 9.69324C20.4472 9.37677 20.625 8.94755 20.625 8.5C20.625 8.05244 20.4472 7.62322 20.1307 7.30675C19.8143 6.99029 19.3851 6.8125 18.9375 6.8125H5.96063L9.44363 3.3295C9.76005 3.01293 9.93775 2.58363 9.93764 2.13604C9.93754 1.68845 9.75963 1.25923 9.44306 0.942809C9.12649 0.62639 8.69719 0.448686 8.2496 0.448792C7.80201 0.448897 7.37279 0.626803 7.05638 0.943372L0.693375 7.3075Z" fill="white"/>
                </svg>
            </button>
        </div>
    </section>
</div>
