<div class="w-full min-h-screen bg-azul-bg px-9">
    <app-header-dashboard></app-header-dashboard>
    <div class="px-5 bg-gris-contenedor/20  mx-5 my-5 py-10 rounded-lg  mt-32">

        <div class="w-full max-w-xs mx-auto">
            <h2 class="text-2xl font-bold text-center mb-4">{{text}} Usuario</h2>

            <form (ngSubmit)="submitAdmin()">
                <div class="mb-4">
                    <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre</label>
                    <input type="text" id="nombre" class="form-input" [(ngModel)]="usuario.nombre" name="nombre"
                        required>
                </div>

                <div class="mb-4">
                    <label for="apellido" class="block text-sm font-medium text-gray-700">Apellido</label>
                    <input type="text" id="apellido" class="form-input" [(ngModel)]="usuario.apellido" name="apellido"
                        required>
                </div>

                <div class="mb-4">
                    <label for="dni" class="block text-sm font-medium text-gray-700">DNI</label>
                    <input type="text" id="dni" class="form-input" [(ngModel)]="usuario.dni" name="dni" required>
                </div>

                <div class="mb-4">
                    <label for="telefono" class="block text-sm font-medium text-gray-700">Teléfono</label>
                    <input type="tel" id="telefono" class="form-input" [(ngModel)]="usuario.telefono" name="telefono"
                        required>
                </div>

                <div class="mb-4">
                    <label for="direccion" class="block text-sm font-medium text-gray-700">Dirección</label>
                    <input type="text" id="direccion" class="form-input" [(ngModel)]="usuario.direccion"
                        name="direccion" required>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" class="form-input" [(ngModel)]="usuario.email" name="email" required>
                </div>

                <div class="mb-4">
                    <label for="tipoUsuario" class="block text-sm font-medium text-gray-700">Tipo de usuario</label>
                    <select id="tipoUsuario" class="form-select" [(ngModel)]="usuario.tipoUsuario" name="tipoUsuario">
                        <option value="administrador">Administrador</option>
                        <option value="encuestador">Encuestador</option>
                    </select>
                </div>
                <div class="flex justify-between w-full my-5">
                    <button class="px-3 py-2 rounded-md bg-azul-button" (click)="redirectTo()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
                            <path
                                d="M0.693375 7.3075C0.377361 7.6239 0.19986 8.05281 0.19986 8.5C0.19986 8.94719 0.377361 9.37609 0.693375 9.6925L7.05638 16.0577C7.21312 16.2145 7.39921 16.3388 7.60401 16.4237C7.80882 16.5085 8.02832 16.5522 8.25 16.5522C8.47168 16.5522 8.69118 16.5085 8.89599 16.4237C9.10079 16.3388 9.28688 16.2145 9.44363 16.0577C9.60037 15.901 9.72471 15.7149 9.80955 15.5101C9.89438 15.3053 9.93804 15.0858 9.93804 14.8641C9.93804 14.6424 9.89438 14.4229 9.80955 14.2181C9.72471 14.0133 9.60037 13.8272 9.44363 13.6705L5.96063 10.1875H18.9375C19.3851 10.1875 19.8143 10.0097 20.1307 9.69324C20.4472 9.37677 20.625 8.94755 20.625 8.5C20.625 8.05244 20.4472 7.62322 20.1307 7.30675C19.8143 6.99029 19.3851 6.8125 18.9375 6.8125H5.96063L9.44363 3.3295C9.76005 3.01293 9.93775 2.58363 9.93764 2.13604C9.93754 1.68845 9.75963 1.25923 9.44306 0.942809C9.12649 0.62639 8.69719 0.448686 8.2496 0.448792C7.80201 0.448897 7.37279 0.626803 7.05638 0.943372L0.693375 7.3075Z"
                                fill="white" />
                        </svg>
                    </button>

                    <button class=" flex flex-row-reverse " (click)="redirectToNvo()" class="bg-azul-button text-white rounded-lg px-8 py-3 font-farro uppercase tracking-widest
                ">Crear</button>
                </div>
            </form>
        </div>
    </div>